/OGA.KeyMgmt/.vs
/OGA.KeyMgmt/OGA.KeyMgmt_NET5/bin
/OGA.KeyMgmt/OGA.KeyMgmt_NET5/obj
/OGA.KeyMgmt/OGA.KeyMgmt_Dev/obj
/OGA.KeyMgmt/OGA.KeyMgmt_Dev/bin
/OGA.KeyMgmt/OGA.KeyMgmt_NET5_Tests/obj
/OGA.KeyMgmt/OGA.KeyMgmt_NET5_Tests/bin
/OGA.KeyMgmt/OGA.KeyMgmt_NET6/obj
/OGA.KeyMgmt/OGA.KeyMgmt_NET6/bin
/OGA.KeyMgmt/OGA.KeyMgmt_NET6_Tests/bin
/OGA.KeyMgmt/OGA.KeyMgmt_NET6_Tests/obj
/.vscode
/OGA.KeyMgmt/OGA.KeyMgmt_NET7/bin
/OGA.KeyMgmt/OGA.KeyMgmt_NET7/obj
/OGA.KeyMgmt/OGA.KeyMgmt_NET7_Tests/bin
/OGA.KeyMgmt/OGA.KeyMgmt_NET7_Tests/obj
